.command
{
	color:rgb(40,0,200);
}
.variable
{
	color:rgb(170,10,145);
}
.string
{
	color:rgb(195,25,25);
}
.number
{
	color:rgb(90,20,10);
}
.comment
{
	color:rgb(0,150,0);
	font-style: italic;
}
.error
{
	color:rgb(255,0,0);
	font-weight:bold;
}
.bytestring {
	color:rgb(200,20,100);
}
.label {
    color: orange;
}
.flowcontrol {
    color: purple;
}
.operator {
    color: purple;
    font-weight: bold;
}